:root {
  --primary-brand-color: rgb(123, 181, 183);
  --secondary-color: rgb(230, 241, 242);
  --background-color: #f4f7f7;
  --header-font: "Playfair Display", serif;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  width: 80px;
}
.nav-item {
  padding: 0px 30px;
}

.header {
  background-color: var(--secondary-color);
  text-align: center;
  margin: 0px;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
  
}

h1 {
  font-family: var(--header-font);
  font-weight: bold;
  font-size: 90px;
  padding: 100px 20px 10px;
}

h2 {
  font-family: var(--header-font);
  font-size: 50px;
  text-align: center;
}
h3 {
  font-weight: normal;
  font-size: 24px;
  line-height: 3;
}

h4 {
  font-family: var(--header-font);
  font-size: 50px;
}

p {
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
}
.btn-branding {
  background-color: rgb(123, 181, 183);
  color: #f4f7f7;
  border-radius: 5px;
  padding: 18px 30px;
  margin: 30px auto 80px;
  line-height: 30px;
  box-shadow: var(--box-shadow);
}

.btn-branding-outline {
  background-color: var(--background-color);
  color: var(--primary-brand-color);
  border: 1px solid var(--primary-brand-color);
  border-radius: 5px;
  padding: 18px 30px;
  margin: 30px auto 80px;
  line-height: 30px;
  box-shadow: var(--box-shadow);
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
  padding-left: 0;
  margin-bottom: 0;
}

.profile-img {
  width: 400px;
  margin-top: 100px;
  margin-left: 30px;
}

i {
  color: var(--primary-brand-color);
  background-color: var(--secondary-color);
  padding: 10px 15px;
  margin: 0 20px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}
i:hover {
  color: var(--background-color);
  background-color: var(--primary-brand-color);
}

.work-Inquiry {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 40px 0px 10px 40px;
  margin-bottom: 30px;
}

.mail-to-link {
  color: black;
}

.mail-to-link:hover {
  text-decoration: none;
}

@media (max-width: 800px) {
  body {
    max-height: fit-content;
    overflow-x: hidden;
  }
  h1 {
    font-size: 60px;
    padding-top: 20px;
  }

  h2 {
    font-size: 40px;
    text-align: center;
  }
  p {
    text-align: center;
  }

  .content {
    text-align: center;
  }
  .profile-img {
    margin: 0px -20px 0px 2px;
  }

  .work-Inquiry {
    text-align: center;
    padding: 40px 30px 10px 40px;
    margin: 20px 20px;
  }
  .content container {
    overflow-x: hidden;
  }
}
