h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

h3 {
  font-family: "Poppins", sans-serif;
  font-weight: medium;
}


p {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
  }